<div class="container-fluid mb-4">
  <div class="row d-flex">
    <div class="col-2 ">
      <h1 style="padding-top: 15px;">Maze warrior</h1>
    </div>
    <div class="col d-flex">
      <div class="btn-group" mdbDropdown>
        <button class="simple-btn">
          Algorithims ▼
        </button>

        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Backtrack</a>
          <a class="dropdown-item" href="#">Greedy</a>
          <a class="dropdown-item" href="#">Djikstra</a>
        </div>
      </div>
      <ui-maze-construction></ui-maze-construction>
      <button class="simple-btn" (click)="StartSimulation()">Start</button>
      <button class="simple-btn" (click)="PauseSimulation()">Pause</button>
      <button class="simple-btn" (click)="ResetSimulation()">Reset</button>
    </div>
    <ui-control-panel></ui-control-panel>
  </div>
</div>
