:host
{
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  div.startPos
  {
    align-self: center;
    justify-self: center;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: #ffa400;
  }
  div.indexed
  {
    align-self: center;
    justify-self: center;
    width: 80%;
    height: 80%;
    background-color: #5db7de;
  }
}
