:host
{
  align-self: center;

  div.startPos
  {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: green;
  }
  div.indexed
  {
    height: 15px;
    width: 15px;
    background-color: yellow;
  }
}
