$indexColor: #ffa8a8;
@keyframes indexATile {
  0%   {
    transform: scale(.3);
    background-color: $indexColor;
  }
  50%  {
    transform: scale(1.2);
    background-color: $indexColor;
  }
  100%  {
    transform: scale(1.0);
    background-color: $indexColor;
  }
}

:host
{
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  div.startPos
  {
    align-self: center;
    justify-self: center;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    border-color: cadetblue;
    background-image: url('../../../assets/start.png');
    background-size: cover;
    background-position: center;
  }
  div.indexed
  {
    transition: .2s;
    align-self: center;
    justify-self: center;
    width: 80%;
    height: 80%;
    background-color: $indexColor;
    animation-name: indexATile;
    animation-duration: 0.4s;
  }
}
