$size: 20px;
$borderWidth: 1px;
div
{
  display: flex;
  align-content: center;
  justify-content: center;
  width: $size;
  height: $size;
}
.open
{
  border: solid $borderWidth;
}
.blocked
{
  color: black;
  border: solid $borderWidth black;
  background-color: black;
}
.goal
{
  color: green;
  border: solid $borderWidth green;
}
.walker
{
  color: yellow;
  border: solid $borderWidth yellow;
}


