$borderWidth: 1px;
$mainColor:rgb(12, 53, 71);
$walkerColor:#c20114;

@keyframes blockTile {
  0%   {
    transform: scale(.3);
    background-color: $mainColor;
  }
  50%  {
    transform: scale(1.2);
    background-color: $mainColor;
  }
  100%  {
    transform: scale(1.0);
    background-color: $mainColor;
  }
}

@keyframes openTile {
  0%   {
    transform: scale(1.0);
    background-color: $mainColor;
  }
  50%  {
    transform: scale(0.5);
    background-color: #869aa3;
  }
  100%  {
    transform: scale(0);
    background-color: #ffffff;
  }
}


div
{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}
.open
{
  border: solid $borderWidth rgb(169, 211, 245);
  animation-name: openTile;
  animation-duration: 0.2s;
}
div:hover
{
  $color:#34495e94;
  opacity: 0.5;
  color: $color;
  border: solid $borderWidth $color;
  background-color: $color;
}
.blocked
{
  color: $mainColor;
  border: solid $borderWidth $mainColor;
  background-color: $mainColor;
  animation-name: blockTile;
  animation-duration: 1s;
}
.goal
{
  color: #ffa400;
  border: solid $borderWidth #ffa400;
  background-image: url('../../../assets/crosshair.png');
  background-size: cover;
  background-position: center;
}
.walker
{
  height: 80%;
  width: 80%;
  background-color: $walkerColor;
  align-self: center;
  justify-self: center;
  border: solid $borderWidth $walkerColor;
}

.startPos
  {
    align-self: center;
    justify-self: center;
    border: solid $borderWidth #ffa400;
    background-image: url('../../../assets/start.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
  }
