/* You can add global styles to this file, and also import other style files */


body{
  background-color: #fefafb;
}
.simple-btn{
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  font-weight: 700;
  transition: .25s;
  padding: 15px 21px;
  outline: 0 !important;
  &:hover{
    color: #1abc9c;
  }
}
